<!-- Configure meta and title tags -->
<meta property="og:type" content="website" />
{{ if .Site.Params.TwitterCardType }}
<meta name="twitter:card" content="{{ .Site.Params.TwitterCardType }}" key="twcard" />
{{ else }}
<meta name="twitter:card" content="summary_large_image" key="twcard" />
{{ end }}
{{ if .Site.Params.TwitterUsername }}
<meta name="twitter:site" content="{{ .Site.Params.TwitterUsername }}" key="twhandle" />
{{ end }}
{{ if .IsHome }}
<title>{{ .Site.Title }}</title>
<meta property="og:url" content="{{ .Site.BaseURL }}" key="ogurl" />
<meta property="og:title" content="{{ .Site.Title }}" key="ogtitle" />
<meta name="og:description" content="{{ $.Site.Params.description }}" key="ogdesc" />
{{ else }}
<title>{{ .Title }} &middot; {{ .Site.Title }}</title>
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Title }} &middot; {{ .Site.Title }}" />
{{ if .Description }}
<meta name="og:description" content="{{ .Description }}" />
{{ else }}
<meta name="og:description" content="{{ $.Site.Params.description }}" />
{{ end }}
<meta name="twitter:url" content="{{ .Permalink }}" />
{{ if .Params.SocialImage }}
{{ $socialImage := .Resources.GetMatch .Params.SocialImage }}
{{ if $socialImage }}
<!-- File was in the page bundle -->
<meta property="og:image" content="{{ .Params.SocialImage }}" key="ogimage" />
{{ else }}
<!-- File was not in the page bundle, assume it exists at the root -->
<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.SocialImage }}" key="ogimage" />
{{ end }}
{{ else }}
<!-- The socialImage attribute doesn't exist on the page, resolve it from the root -->
<meta property="og:image" content="{{ .Site.BaseURL}}{{ .Site.Params.SocialImage }}" key="ogimage" />
{{ end }}
<link rel="canonical" href="{{ .Permalink }}" />
{{ end }}
